

@using WorkflowMVC.Models
@model List<WorkflowMVC.Models.Ticket>

@{
    ViewBag.Title = "TicketList";
}

<h2>TicketList</h2>

@using (Html.BeginForm("GetTicket", "Home", FormMethod.Post))
{
    <form>
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Ticket ID</th>
                <th>Ticket Header</th>
                <th>Register Date</th>
                <th>Deadline</th>
            </tr>
            </thead>
            <tbody>
                    
            @foreach (Ticket ticket in Model)
            {
                 <tr>
                    <td>@ticket.TicketId</td>
                    <td>@ticket.Header</td>
                     <td>@ticket.RegisterDate</td>
                     <td>@ticket.Deadline</td>
                </tr>
            }
            </tbody>
        </table>
    </form>
}