@model WorkflowMVC.Models.WebTicket

@{
    ViewBag.Title = "TicketCreator";
}

<h2>TicketCreator</h2>


@using (Html.BeginForm("CreateTicket", "Home", FormMethod.Post))
{
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Header</label>
                    @Html.TextBoxFor(m => m.Header, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Ticket Content</label>
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control form-control-lg", rows = "12", style = "min-width: 100%" })
                </div>
            </div>
            <div class="col-md-12">
                <fieldset class="form-group">
                    <legend>Choose priority</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.Priority, "Normal", new { @checked = true })
                            Normal
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.Priority, "Critical")
                            Critical
                        </label>
                    </div>
                </fieldset>
            </div>

            <div>
                <button id="submitt" style="display:none" class="btn btn-primary">Send ticket</button>
            </div>
        </div>
    </form>
}
